<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.jds.binr" platformBuildVersionCode="3676" platformBuildVersionName="1.4.3676" android:versionCode="3676" android:versionName="1.4.3676" android:installLocation="preferExternal" android:compileSdkVersion="28" android:compileSdkVersionCodename="9">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28"/>
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="disabled_android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="disabled_android.permission.ACCESS_WIFI_STATE"/>
    <uses-feature android:glEsVersion="20000" android:required="true"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-feature android:name="android.software.vr.mode" android:required="false"/>
    <uses-feature android:name="android.software.vr.high_performance" android:required="false"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <application android:theme="@style/UnityThemeSelector" android:label="@string/app_name" android:icon="@drawable/app_icon" android:name="android.support.multidex.MultiDexApplication" android:allowBackup="true" android:supportsRtl="true" android:banner="@drawable/app_banner" android:isGame="true">
        <activity android:label="@string/app_name" android:name="com.jds.binaar.core.BINRMainActivity" android:launchMode="singleTask" android:screenOrientation="sensorPortrait" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|layoutDirection|fontScale" android:hardwareAccelerated="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true"/>
        </activity>
        <activity android:label="@string/app_name" android:name="com.shopify.unity.buy.ShopifyUnityPlayerActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.tapjoy.TJAdUnitActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.tapjoy.TJContentActivity" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <receiver android:name="net.agasper.unitynotification.UnityNotificationManager"/>
        <receiver android:name="net.agasper.unitynotification.UnityNotificationActionHandler"/>
        <receiver android:name="com.tapjoy.InstallReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.tapjoy.appstore" android:value="Google"/>
        <meta-data android:name="unity.build-id" android:value="f2e17bea-30bd-4884-afbf-1b748920d280"/>
        <meta-data android:name="unity.splash-mode" android:value="0"/>
        <meta-data android:name="unity.splash-enable" android:value="true"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar.Fullscreen" android:name="com.unity.purchasing.googleplay.PurchaseActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale"/>
        <activity android:theme="@style/VrActivityTheme" android:name="com.unity.purchasing.googleplay.VRPurchaseActivity" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:enableVrMode="com.google.vr.vrcore/com.google.vr.vrcore.common.VrCoreListenerService">
            <intent-filter>
                <action android:name="com.google.vr.vrcore.ACTION_NONE"/>
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
        </activity>
        <provider android:name="android.arch.lifecycle.ProcessLifecycleOwnerInitializer" android:exported="false" android:multiprocess="true" android:authorities="com.kindlybeast.test.lifecycle-trojan"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <activity android:name="com.tapdaq.sdk.TMTestActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="com.tapdaq.sdk.TMTestNativeActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="com.tapdaq.adapters.tapdaq.TMInterstitialActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="com.tapdaq.adapters.tapdaq.TMVideoInterstitialActivity" android:configChanges="orientation|screenSize"/>
        <activity android:name="com.tapdaq.adapters.tapdaq.TMMoreAppsActivity"/>
        <activity android:name="com.adcolony.sdk.AdColonyAdViewActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true"/>
        <activity android:name="com.adcolony.sdk.AdColonyInterstitialActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true"/>
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"/>
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity"/>
        <activity android:name="com.tapjoy.mraid.view.ActionHandler" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name="com.tapjoy.mraid.view.Browser" android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:theme="@style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitActivity" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"/>
        <activity android:theme="@style/Theme.NoTitleBar.Fullscreen" android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"/>
        <activity android:theme="@style/Theme.NoTitleBar.Fullscreen" android:name="com.vungle.warren.ui.VungleActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="com.vungle.warren.ui.VungleFlexViewActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:hardwareAccelerated="true"/>
    </application>
</manifest>
